firmware/config
firmware/description
firmware/HEAD
firmware/packed-refs
firmware/hooks/applypatch-msg.sample
firmware/hooks/commit-msg.sample
firmware/hooks/fsmonitor-watchman.sample
firmware/hooks/post-update.sample
firmware/hooks/pre-applypatch.sample
firmware/hooks/pre-commit.sample
firmware/hooks/pre-merge-commit.sample
firmware/hooks/pre-push.sample
firmware/hooks/pre-rebase.sample
firmware/hooks/pre-receive.sample
firmware/hooks/prepare-commit-msg.sample
firmware/hooks/push-to-checkout.sample
firmware/hooks/sendemail-validate.sample
firmware/hooks/update.sample
firmware/info/exclude
firmware/objects/pack/pack-b969ef449ebaa5a414ecc969800bdd02eae9db26.idx
firmware/objects/pack/pack-b969ef449ebaa5a414ecc969800bdd02eae9db26.pack
firmware/objects/pack/pack-b969ef449ebaa5a414ecc969800bdd02eae9db26.rev
